<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <title>Strona logowania</title>
	
  </head>

  <body>

    <div class="container">

      <form>
        <h2>Zaloguj</h2>
        
		<label for="inputEmail"> Adres email </label>
        <label for="inputPassword" class="sr-only">Has³o</label>
        <div class="checkbox">
         <label>
          <input type="checkbox" value="remember-me"> Zapamiêtaj -->
          </label>
        </div>
        <button type="submit">Zaloguj</button>
      </form>

    </div>

  </body>
</html>